* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    ---color1: #0CB8B6;
}


.white-box {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    z-index: 0;
    display: flex;
    position: absolute;
    top: 210px;
    overflow: hidden;
}



.red-box {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    background-color: var(---color1);
    overflow: hidden;
    position: absolute;
}

.blue-box {
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: white;
}

#img2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    padding: 15px;
    top: 60px;
    z-index: 1;
    visibility: hidden;
}

.red-box:hover #img2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    transition: 01s ease;
    z-index: 1;
    visibility: visible;
    transition: 0.4s ease;
}

.red-box:hover .blue-box {
    height: 75px;
    width: 75px;
    transition: 0.4s ease;
}

.red-box:hover #img1 {
    position: absolute;
    margin-top: -154px;
    transition: 0.4s ease;
}

.container-time {
    display: flex;
    flex-wrap: wrap;
}

.work-box {
    text-transform: uppercase;

}

.col-md-5 b {
    font-size: 14px;
}

.doc-type h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
}